<%- include('../../../layouts/dashboardHeader') %>


<!-- main in strted from here  -->
<section class="section">
  <div class="container section-container">
    <h2>Edit</h2>
    <h1>Edit Your Personal Information </h1>


    <div class="edit-area flex justify-center" style="align-items: flex-start;">



      <div class="left-edit-area edit-area-block">


        <div class="edit-signup-info w-100">
          <h3>Edit your account details </h3>

          <form id="signupeditfrom" class="w-100" autocapitalize="off">

            <div class="info-teacher flex item-center justify-between flex-wrap">

              <div class="info-block flex flex-col">
                <span>Gender</span>
                <div class="form-field flex item-center" id="formnotpassfield">
                  <span style="margin: 0px 6px;"><i class="fa-solid fa-user"></i></span>
                  <input type="text" name="gender" id="gender" placeholder="gender" required value="<%= personalData.gender %>">
                </div>

              </div>


              <div class="info-block flex flex-col">
                <span>Martial Status</span>
                <div class="form-field flex item-center" id="formnotpassfield">
                  <span style="margin: 0px 6px;"><i class="fa-solid fa-user"></i></span>
                  <input type="text" name="martial_status" id="mstatus" placeholder="Martial status" required value="<%= personalData.martial_status %>">
                </div>
              </div>

              <div class="info-block flex flex-col">
                <span>Religon</span>
                <div class="form-field flex item-center" id="formnotpassfield">
                  <span style="margin: 0px 6px;"><i class="fa-solid fa-book"></i></span>
                  <input type="text" name="religon" id="mstatus" placeholder="Religon" required value="<%= personalData.religon %>">
                </div>
              </div>

              <div class="info-block flex flex-col">
                <span>National ID</span>
                <div class="form-field flex item-center" id="formnotpassfield">
                  <span style="margin: 0px 6px;"><i class="fa-solid fa-user"></i></span>
                  <input type="text" name="teacher_cnic" id="teacher_cnic" placeholder="Teacher cnic " required value="<%= personalData.teacher_cnic %>">
                </div>
              </div>

              <div class="info-block flex flex-col">
                <span>Father Cnic </span>
                <div class="form-field flex item-center" id="formnotpassfield">
                  <span style="margin: 0px 6px;"><i class="fa-solid fa-user"></i></span>
                  <input type="text" name="father_cnic" id="father_cnic" placeholder="Father cnic " required value="<%= personalData.father_cnic %>">
                </div>
              </div>

              <div class="info-block flex flex-col">
                <span>Date of birth </span>
                <div class="form-field flex item-center" id="formnotpassfield">
                  <span style="margin: 0px 6px;"><i class="fa-solid fa-user"></i></span>
                  <input type="text" name="dob" id="dob" placeholder="Date of birth " required value="<%= personalData.dob %>">
                </div>
              </div>


              <div class="info-block flex flex-col">
                <span>Blood Group </span>
                <div class="form-field flex item-center" id="formnotpassfield">
                  <span style="margin: 0px 6px;"><i class="fa-solid fa-user"></i></span>
                  <input type="text" name="blood_group" id="blood_group" placeholder="Blood Grup " required value="<%= personalData.blood_group %>">
                </div>
              </div>


              <div class="info-block flex flex-col">
                <span>Provience </span>
                <div class="form-field flex item-center" id="formnotpassfield">
                  <span style="margin: 0px 6px;"><i class="fa-solid fa-flag"></i></span>
                  <input type="text" name="provience" id="provience" placeholder=" Provience  " required value="<%= personalData.provience %>">
                </div>
              </div>


              <div class="info-block flex flex-col">
                <span>City </span>
                <div class="form-field flex item-center" id="formnotpassfield">
                  <span style="margin: 0px 6px;"><i class="fa-solid fa-flag"></i></span>
                  <input type="text" name="city" id="city" placeholder="City " required value="<%= personalData.city %>">
                </div>
              </div>

              <div class="info-block flex flex-col">
                <span>District </span>
                <div class="form-field flex item-center" id="formnotpassfield">
                  <span style="margin: 0px 6px;"><i class="fa-solid fa-flag"></i></span>
                  <input type="text" name="district" id="district" placeholder="District " required value="<%= personalData.district %>">
                </div>
              </div>

              <div class="info-block flex flex-col">
                <span>Vallage </span>
                <div class="form-field flex item-center" id="formnotpassfield">
                  <span style="margin: 0px 6px;"><i class="fa-solid fa-flag"></i></span>
                  <input type="text" name="vallage_name" id="vallage_name" placeholder="Vallage  " required value="<%= personalData.vallage_name %>">
                </div>
              </div>

              <div class="info-block flex flex-col">
                <span>Parmanent Address </span>
                <div class="form-field flex item-center" id="formnotpassfield">
                  <span style="margin: 0px 6px;"><i class="fa-solid fa-flag"></i></span>
                  <input type="text" name="parmanent_address" id="parmanent_address" placeholder="Parmanent Address  " required value="<%= personalData.parmanent_address %>">
                </div>
              </div>


              <button type="submit" id="infoUpdateButton">Update Now </button>



            </div>

          </form>

        </div>


      </div>




      <div class="right-edit-area edit-area-block">



        <fieldset>
          <legend>
            <h3>Update Password</h3>
          </legend>
          <form id="update-password-form">

            <div class="form-field flex item-center">
              <label for="ppassword"><i class="fa fa-key"></i></label>
              <input type="text" name="prevpassword" id="ppassword" placeholder="Previus password" required>
            </div>
            <div class="form-field flex item-center">
              <label for="npassword"><i class="fa fa-key"></i></label>
              <input type="text" name="newpassword" id="npassword" placeholder="New password" required>
            </div>
            <div class="form-field flex item-center">
              <label for="cnpassword"><i class="fa fa-key"></i></label>
              <input type="text" name="confirmpassword" id="cnpassword" placeholder="Confirm new password" required>
            </div>

            <button type="submit">Update Now </button>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
</section>
<!-- main in ended from here  -->
<%- include('../../../layouts/footer') %>



<script src="/assets/js/all.js"></script>


<!-- typedjs animation library cdn -->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->


<script src="/assets/js/main.js"></script>


<script>
  const updatePersonalInfoForm = document.getElementById("signupeditfrom");
  const updatePasswordFrom = document.getElementById("update-password-form");




  updatePersonalInfoForm.addEventListener("submit", async e => {
    e.preventDefault();
    // console.log("hello world")
    let path = `/api/teacher/edit/personalinfo`

    const request = await fetch(path, {
      method: "put",
      headers: {
        'content-type': "application/json"
      },
      body: JSON.stringify({
        name: "ghazna"
      })
    })

    const response = await request.json();

    console.log(response)


  })




  updatePasswordFrom.addEventListener("submit", async e => {
    e.preventDefault()


    const previusPassword = document.getElementById("ppassword"),
      newpassword = document.getElementById("npassword"),
      confirmpassword = document.getElementById("cnpassword");

    if (newpassword.value == confirmpassword.value) {

      let path = `/api/teacher/update/password`

      const request = await fetch(path, {
        method: "put",
        headers: {
          'content-type': "application/json"
        },
        body: JSON.stringify({
          prevpassword: previusPassword.value,
          newpassword: newpassword.value,
          confirmpassword: confirmpassword.value

        })
      })

      const response = await request.json();

      console.log(response)
    } else {
      alert("confirm passwod not matching..")
    }



  })
</script>

</body>

</html>