<%- include('../../layouts/dashboardHeader') %>


<!-- main in strted from here  -->
<section class="section">
  <div class="container section-container">
    <h2>Dashboard</h2>
    <h1> Teacher Account </h1>
    <div class="std-account flex">
      <div class="student-image"><img src="/assets/media/images/students/profiles/<%= personalInfo.image %>" alt=""></div>
      <div class="student-account-heading">
        <div class="stdname flex item-center">
          <h3><%= signupData.fullname %></h3>
          <span>ADMINISTRATOR</span>
        </div>
        <div class="social-info">
          <div class="data-field flex item-center ">
            <span><i class="fa fa-envelope"></i></span><%= signupData.email %>
          </div>
          <div class="data-field flex item-center ">
            <span><i class="fa fa-phone"></i></span> <%= signupData.phone %>
          </div>
        </div>

        <h4>Quick Links </h4>
        <div class="quicklinks flex">
          <a href="/teacher/edit/personalinfo/<%= signupData._id %>/">Edit Personal Info </a>
          <a href="/teacher/edit/password/<%= signupData._id %>/">Update your Password </a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- main in ended from here  -->
<%- include('../../layouts/footer') %>



<script src="/assets/js/all.js"></script>


<!-- typedjs animation library cdn -->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->


<script src="/assets/js/main.js"></script>

</body>

</html>